.userItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid lightgrey;
}

.iconStyle1 {
    width: 40px;
    height: 40px;
    color: lightgray;
}

.iconStyle2 {
    width: 40px;
    height: 40px;
    color: darkcyan;
}